---
const list = [
  {
    section: 'Build Your Own',
    items: [
      {
        title: 'Crafting Interpreters',
        href: 'https://craftinginterpreters.com/',
        desc: '非常容易上手的教程，教你从头到尾实现 Lox 语言',
      },
      {
        title: 'Building Git',
        href: 'https://shop.jcoglan.com/building-git/',
        desc: 'is a deep dive into the internals of the Git version control system. By rebuilding it in a high-level programming language, we explore the computer science behind this widely used tool',
      },
    ],
  },
];
---

<ul>
  {
    list.map((s) => (
      <>
        {s.section}
        <ul>
          {s.items.map((it) => (
            <li>
              <a href={it.href} target="_blank">
                {it.title}
              </a>{' '}
              {it.desc}
            </li>
          ))}
        </ul>
      </>
    ))
  }
</ul>
