---

const list = [
  {
    section: "Performance",
    items: [
      {
        title: "Openjdk JMH",
        href: "https://github.com/openjdk/jmh",
        desc: "JMH is a Java harness for building, running, and analysing nano/micro/milli/macro benchmarks written in Java and other languages targeting the JVM.",
      },
    ],
  },
  {
    section: "Http Client",
    items: [
      {
        title: 'Retrofit',
        href: 'https://github.com/square/retrofit',
        desc: 'A type-safe HTTP client for Android and Java.'
      }
    ]
  }
];

---

<ul>
  {list.map(s => (
    <>{s.section}
    <ul>
      {s.items.map(it => (
        <li><a href={it.href} target="_blank">{it.title}</a> {it.desc}</li>
      ))}
    </ul>
    </>
  ))}
</ul>