---
interface Props {
  items: ({ title: string; path?: string } | null)[];
}

const { items } = Astro.props as Props;
---

<div class="mx-4 py-2">
  {
    (items || [])
      .filter((it) => it)
      .map((it, i, list) => (
        <>
          {i > 0 ? <span class="text-indigo-500"> &gt; </span> : ''}
          {i + 1 == list.length ? <span class="text-gray-400">{it.title}</span> : <a href={it.path}>{it.title}</a>}
        </>
      ))
  }
</div>
