---
import App from './app';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>React Components</title>
  </head>
  <body><App client:load /></body>
</html>
