@import "../styles/vars";

.button {
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border: 0px;
  color: $font-color-white;
  border-radius: 0.25rem;
  background-color: $background-primary;
}
