---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>xyzwps pages</title>
  </head>
  <body>
    <div class="container mx-auto bg-white flex flex-col border-x-gray-500 px-4 min-h-screen text-base">
      <div class="h-24"></div>
      <div class="text-center text-5xl text-indigo-700 my-8 font-bold select-none">xyzwps</div>
      <div class="flex justify-center">
        <div
          class={[
            'border-solid border-indigo-600 border rounded',
            'has-[:focus]:ring-indigo-400 has-[:focus]:ring-2',
            'w-full max-w-[420px]',
            'p-3 flex',
          ].join(' ')}
        >
          <input class="flex-1 focus:outline-none focus:border-6 ml-2" placeholder="搜索" id="search-input" />
          <span class="ml-2 cursor-pointer" id="search-icon">🔍</span>
        </div>
      </div>
    </div>
    <script>
      const searchInput = document.getElementById('search-input') as HTMLInputElement;
      const search = () => {
        const value = searchInput.value;
        if (value && value.trim()) {
          location.href = `https://cn.bing.com/search?q=${encodeURI(value)}`;
        }
      };
      searchInput.addEventListener('keyup', (e) => {
        if (e.key === 'Enter') {
          search();
        }
      });

      const searchIcon = document.getElementById('search-icon');
      searchIcon.addEventListener('click', () => {
        search();
      });
    </script>
  </body>
</html>
