---
import SearchInput from '../components/HomePage/SearchInput.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>xyzwps pages</title>
    <script is:inline>
      var _hmt = _hmt || [];
      (function () {
        var hm = document.createElement('script');
        hm.src = 'https://hm.baidu.com/hm.js?e5cd13f29c2fc3a6a3ca36ad30480374';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </head>
  <body>
    <div class="container mx-auto bg-white flex flex-col border-x-gray-500 px-4 min-h-screen text-base">
      <div class="h-24"></div>
      <div class="text-center text-5xl text-indigo-700 my-8 font-bold select-none">xyzwps</div>
      <SearchInput />
      <div class="text-center m-8 text-sm text-gray-500 text-light">
        <a href="https://tongyi.aliyun.com/qianwen/" target="_blank">通义千问</a>&emsp;|&emsp;<a href="https://www.zhihu.com/" target="_blank">知乎</a>
      </div>
    </div>
  </body>
</html>
