<!-- ---
import Directory from '../components/HomePage/Directory.astro'
--- -->

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>xyzwps pages</title>
  </head>
  <body class="bg-gray-200">
    <div class="container mx-auto bg-white flex flex-col border-x-gray-500 px-4 min-h-screen text-base">
      <h1 class="block my-4 font-bold">xyzwps pages</h1>
      <!-- <div class="my-4 flex gap-2">
        <Directory href="/blogs">Blogs</Directory>
        <Directory href="/collections">Collections</Directory>
        <Directory href="/design-patterns">Design Patterns</Directory>
        <Directory href="/a">Anthologies</Directory>
      </div> -->
      <h2>最近文章</h2>
      <ul class="list-disc ml-8">
        <li><a href="/blogs/2024-08-27-dg-to-di">从有向图到依赖注入</a></li>
      </ul>
    </div>
  </body>
</html>
