---
import "./styles/global.css";
import SearchInput from "../components/HomePage/SearchInput.astro";
import AnalyticsBaidu from "../components/AnalyticsBaidu.astro";

const list = [
  { title: "Emoji", href: "/list/emoji" },
  { title: "Markdown", href: "/markdown" },
  { title: "JSON", href: "/app/json-prettier" },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>xyzwps pages</title>
    <AnalyticsBaidu />
  </head>
  <body style="background: linear-gradient(90deg, #faf5ff, #f9fafb, #f5f2ff)">
    <div
      class="mx-auto bg-transparent flex flex-col border-x-gray-500 px-4 min-h-screen text-base"
    >
      <div class="h-24"></div>
      <div
        class="text-center text-5xl text-indigo-700 my-8 font-bold select-none"
      >
        xyzwps
      </div>
      <SearchInput />
      <div class="text-center m-8 text-sm text-gray-500 text-light">
        {
          list.map((it, i) => (
            <>
              {i > 0 ? <>&emsp;|&emsp;</> : ""}
              <a href={it.href}>{it.title}</a>
            </>
          ))
        }
      </div>
    </div>
  </body>
</html>
