.xn-class-blog-layout {
  display: flex;
  margin: 0 auto;
  padding: 0.5rem;
  .xn-class-blog-layout-toc {
    padding: 0.5rem;
  }
  .xn-class-blog-layout-content {
    padding: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .xn-class-blog-layout {
    max-width: 1200px;
    .xn-class-blog-layout-toc {
      flex-basis: 300px;
      flex-shrink: 0;
    }
    .xn-class-blog-layout-content {
      flex-grow: 1;
    }
  }
}

@media (max-width: 1200px) {
  .xn-class-blog-layout {
    .xn-class-blog-layout-toc {
      flex-basis: 300px;
      flex-shrink: 0;
    }
    .xn-class-blog-layout-content {
      flex-grow: 1;
    }
  }
}

@media (max-width: 900px) {
  .xn-class-blog-layout {
    flex-direction: column;
    .xn-class-blog-layout-toc {
      order: 1;
    }
    .xn-class-blog-layout-content {
      flex-grow: 1;
      order: 0;
    }
  }
}
