---
const data = []
---

<div class="bg-slate-100 container mx-auto px-4 py-2 sticky top-0 flex">
    <span class="rounded-full bg-white p-2"><span class="font-bold">CheatSheet</span><sub>@xyzwps</sub></span>
</div>