.epigram-layout {
  display: flex;
  .toc {
    flex-basis: 240px;
    flex-shrink: 0;
  }
  .content {
    flex-grow: 1;
    min-width: 0;
    pre {
      border: 1px solid gray;
      overflow-x: auto;
      padding: 0.5rem 1rem;
      line-height: 1.5;
      code {
        width: max-content;
      }
    }
    table {
      border: 1px solid gray;
      border-collapse: collapse;
      td,
      th {
        padding: 0.3rem .6rem;
        border-left: 1px solid gray;
        border-top: 1px solid gray;
      }
      thead {
        background-color: lightblue;
      }
      tbody {
        tr {
          &:nth-child(even) {
            background-color: aliceblue;
          }
        }
      }
    }
  }
}
