---
interface Props {
  title: string;
  class: string;
}

const { title, class: className } = Astro.props as Props;
---

<div class:list={['p-4', className]}>
  <h1 class="text-3xl my-4 font-black text-indigo-800">{title}</h1>
  <slot />
</div>
