---
import CVTplApp from './_app';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>简历模板</title>
  </head>
  <body><CVTplApp client:load /></body>
</html>
