@import "../styles/vars";

.book-toc-title {
  margin-bottom: 1rem;
  a {
    text-decoration: none;
    color: $pink;
    font-weight: bold;
  }
}


.book-toc-block {
  padding: 0.5rem;
  margin: 0.5rem;
  text-decoration: none;
  color: $pink;
  font-weight: light;
  li {
      list-style: none;
      font-size: 0.9rem;
      a {
          text-decoration: none;
          color: $pink;
      }
  }
}
