@import "../styles/vars";

.topic-entry {
  padding: 0.5rem 1rem;
  margin: 1rem 0.5rem;
  border: 0.25rem solid $pink;
  color: $pink;
  border-radius: 1rem;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
