@import "~@csstools/normalize.css";

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  line-height: 1.6;
}

body {
  font-family: "Segoe UI", SegoeUI, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

blockquote {
  border-left: 0.25rem solid gray;
  margin: 1rem 2rem;
  padding: 0.25rem 1rem;
  background-color: rgba(128, 128, 128, 0.05);
}

li {
  margin-bottom: 0.5rem;
}

.content {
  padding: 1rem;
  overflow-x: auto;
}
