---
import "../styles/global.css";
import AnalyticsBaidu from "../components/AnalyticsBaidu.astro";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <AnalyticsBaidu />
  </head>
  <body class="min-h-screen" style="background: linear-gradient(90deg, #faf5ff, #f9fafb, #f5f2ff)">
    <slot />
  </body>
</html>
