---
import type { MDXLayoutProps } from 'astro';
import Toc from './_MdxLayoutToc.astro';

type Props = MDXLayoutProps<{
  // 在这里定义 frontmatter 属性
  title: string;
  author: string;
  date: string;
}>;

// 现在，`frontmatter`、`url` 和其他 Markdown 布局属性
// 可以通过 TypeScript 类型安全地访问
const { frontmatter, url, headings } = Astro.props;
---

<html lang="zh-CN">
  <head>
    <link rel="canonical" href={url} />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{frontmatter.title}</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.16.4/katex.min.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto bg-white p-8 min-h-screen">
      <div class="grid grid-cols-4 gap-2">
        <div class="prose max-w-none col-span-3 max-lg:col-span-4">
          <h1>{frontmatter.title}</h1>
          <slot />
        </div>
        <div class="max-lg:hidden">
          <h1 class="mx-3 mt-4 text-indigo-600">本文目录</h1>
          <Toc headings={headings} />
        </div>
      </div>
    </div>
  </body>
</html>

<style lang="scss" is:global>
  * {
    line-height: 1.8;
  }

  table {
    border: 1px solid #ced4da;
    border-collapse: collapse;

    tr {
      border-top: 1px solid #ced4da;
      td,
      th {
        border-left: 1px solid #ced4da;
        padding: 8px 16px;
      }
    }
  }

  img {
    width: 100%;
    border: 1px solid #eef;
    border-radius: 4px;
  }

  .math {
    max-width: 100%;
    overflow-y: auto;
  }
  .katex {
    font-size: 1rem;
  }

  .astro-code {
    padding: 16px;
    border-radius: 6px;
  }
</style>
