$default-font: "Times New Roman", Arial, Helvetica, sans-serif;
$mono-font: "Cascadia Mono", "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
$title-font: "Open Sans", "DejaVu Sans", "Sans", sans-serif;

$pink: #fb7299;
$pink-2: #fceef2;
$pink-1: #fef8fa;

$font-color-black: #212529;
$font-color-pink: $pink;
$font-color-white: #fff;

$color-primary: #007bff;

$border-gray: #e0e0dc;
$border-primary: $color-primary;

$border-radius-standard: 4px;

$background-lightgray: #f8f8f7;

$background-primary: $color-primary;
