$default-font: Ovo, Georgia, STZhongsong, "Microsoft YaHei", serif;
$mono-font: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
$title-font: "Open Sans", "DejaVu Sans", "Sans", sans-serif;

$pink: #fb7299;

$font-color-black: #212529;
$font-color-pink: $pink;
$font-color-white: #fff;

$color-primary: #007bff;

$border-gray: #e0e0dc;
$border-primary: $color-primary;

$background-lightgray: #f8f8f7;

$background-primary: $color-primary;
