$default-font: Ovo, Georgia, STZhongsong, "Microsoft YaHei", serif;
$mono-font: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
$title-font: "Open Sans", "DejaVu Sans", "Sans", sans-serif;

$pink: #fb7299;

$font-color-black: #212529;
$font-color-pink: $pink;

$border-gray: #e0e0dc;

$background-lightgray: #f8f8f7;
